{% extends "base_template.html" %}

{% block title %}
	Page Not Found
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
	<div class="container d-flex vh-100 justify-content-center align-items-md-center">
        <div class="content">
            <h1 class="text-black-50" style="font-size: 200px">404</h1>
            <p>The page you are looking for is not available</p>
            <a href= "{% url 'home' %}" class="btn btn-dark">Go Home</a>
        </div>
    </div>
{% endblock %}