<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My App</title>
</head>
<body>
<h1>eMobilis Coding School</h1>
<a href="{% url 'home-url' %}"><button>Home</button></a>
<a href="{% url 'about-url' %}"><button>About</button></a>
<a href="{% url 'gallery-url' %}"><button>Gallery</button></a>
<a href="{% url 'register-url' %}"><button>Register</button></a>
<a href="{% url 'login-url' %}"><button>Login</button></a>
<hr>
{% block content %}
{% endblock %}





</body>
</html>
